@model List<CemexDictionaryApp.Models.Product>

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Products</h3>
        </div>
        <div class="card-body border-bottom py-3">
            <div class="d-flex">
                <div class="text-muted">
                    Show
                    <div class="mx-2 d-inline-block">
                        <input type="text" class="form-control form-control-sm" value="3" size="3" aria-label="Invoices count">
                    </div>
                    Products
                </div>
                <a style="margin-left:50px" asp-action="AddNewProduct" asp-controller="Product" class="btn btn-primary d-none d-sm-inline-block">
                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
                    Add New Product
                </a>
                <div class="ms-auto text-muted">
                    Search:
                    <div class="ms-2 d-inline-block">
                        <input type="text" class="form-control form-control-sm" aria-label="Search invoice">
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap datatable">
                <thead>
                    <tr>

                        <th>Product No.</th>
                        <th>Name </th>
                        <th> Image</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Details</th>
                        <th>Change Status</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>


                    @foreach (Product item in Model)

                    {
                        <tr>

                            <td><span class="text-muted">@item.Id </span></td>
                            <td><a href="invoice.html" class="text-reset" tabindex="-1">@item.Name</a></td>
                            <td data-label="Name">
                                <div class="d-flex py-1 align-items-center">
                                    <Img class="avatar me-2" src="~/images/@item.Image">
                                </div>
                            </td>
                            <td>
                                @item.Description
                            </td>

                            <td>
                                @item.Type
                            </td>
                            <td id="@item.Id">
                                <span class="badge bg-success me-1"></span> @item.Status
                            </td>


                            <td>
                                <span class="text-muted">
                                    <button onclick="modal(@item.Id)" class="btn align-text-top" id="details" data-id="@item.Id" data-bs-boundary="viewport">Details</button>

                                </span>
                            </td>


                            <td>
                                <span class="text-end">
                                    <button onclick="toggle(@item.Id)" class="btn  align-text-top" data-bs-boundary="viewport">toggle</button>

                                </span>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer d-flex align-items-center">
            @*<p class="m-0 text-muted">Showing <span>1</span> to <span>8</span> of <span>16</span> entries</p>*@

            <ul class="pagination m-0 ms-auto">

                <!--<li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">-->
                <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><polyline points="15 6 9 12 15 18" /></svg>
                        prev
                    </a>
                </li>-->
                <li class="page-item"><a class="page-link" asp-action="GetAllProducts" asp-controller="Product" asp-route-page_number="1">1</a></li>
                <li class="page-item "><a class="page-link" asp-action="GetAllProducts" asp-controller="Product" asp-route-page_number="2">2</a></li>
                <li class="page-item"><a class="page-link" asp-action="GetAllProducts" asp-controller="Product" asp-route-page_number="3">3</a></li>
                <li class="page-item"><a class="page-link" asp-action="GetAllProducts" asp-controller="Product" asp-route-page_number="4">4</a></li>
                <li class="page-item "><a class="page-link" asp-action="GetAllProducts" asp-controller="Product" asp-route-page_number="5">5</a></li>
                <li class="page-item"><a class="page-link" asp-action="GetAllProducts" asp-controller="Product" asp-route-page_number="6">6</a></li>
                <!--<li class="page-item">
                    <a class="page-link" asp-action="GetAllProducts" asp-controller="Product" asp-route-page_number="4">
                        next-->
                <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><polyline points="9 6 15 12 9 18" /></svg>
                    </a>
                </li>-->
            </ul>
        </div>
    </div>
</div>
<div    class="modal" id="exampleModal"  >
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'  class="card p-3 bg-white"></div>
        </div>
    </div>

</div>



@section Scripts {
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css"
          rel="stylesheet" type="text/css" />
    <script type="text/javascript">

        function toggle(itemid) {



            if (document.getElementById(itemid).innerHTML == "Active") {
                document.getElementById(itemid).innerHTML = "InActive"
            }
            else {
                document.getElementById(itemid).innerHTML = "Active"
            }

            if (itemid != 0) {
                $.ajax(
                    {
                        url: "/Product/ChangeProductStatusById",
                        data: { "productId": itemid },
                        success: function (result) {

                        }
                    }
                );
            }
        }
        function modal(itemid) {

            if (itemid != 0) {
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: "/Product/Details/${itemid}",
                    contentType: "application/json; charset=utf-8",
                    data: { "productId": itemid },
                    datatype: "json",

                    success: function (data) {
                        debugger;
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#exampleModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            }
          
        }
    </script>

}