@*@model ProductViewModel*@
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using CemexDictionaryApp.Models
@*@inject SignInManager<ApplicationUser> SignInManager
    @inject UserManager<ApplicationUser> UserManager*@
@inject CemexDictionaryApp.Repositories.ICustomerQuistionsRepository questionRepo

<!doctype html>


<html lang="en">
<head>


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>CEMEX DICTIONARY</title>
    <!-- CSS files -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css">
    <link rel="stylesheet" href="~/Multiselect/css/style.css">
    @*<link rel="stylesheet" href="~/Badge/badge.css" />*@
    <link href="~/dist/css/tabler.min.css" rel="stylesheet" />
    <link href="~/dist/css/tabler-flags.min.css" rel="stylesheet" />
    <link href="~/dist/css/tabler-payments.min.css" rel="stylesheet" />
    <link href="~/dist/css/tabler-vendors.min.css" rel="stylesheet" />
    <link href="~/demo.min.js" rel="stylesheet">
    <link href="~/dist/css/demo.min.css" rel="stylesheet" />
    <link href="~/dropzone.css" rel="stylesheet">
    <link href="~/css/form.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
</head>
<body>
    <div class="page">
        <header class="navbar navbar-expand-md navbar-light d-print-none">
            <div class="container-xl">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                    <a asp-action="HomePage" asp-controller="Home">
                        <img src="~/demo/static/logo.svg" width="110" height="32" alt="Tabler" class="navbar-brand-image">
                    </a>
                </h1>

                <a href="/Question/GetNotificationList?listName=Pending" id="pendingCount" type="button" class="btn btn-primary">
                    Pending Questions <span class="badge badge-light bg-red">@questionRepo.GetAllPendingQuestions().Count()</span>
                </a>


                <div class="navbar-nav flex-row order-md-last">
                    <div class="nav-item d-none d-md-flex me-3">
                    </div>
                    <div class="d-none d-md-flex">

                        <a href="?theme=light" class="nav-link px-0 hide-theme-light" title="Enable light mode" data-bs-toggle="tooltip" data-bs-placement="bottom">
                            <!-- Download SVG icon from http://tabler-icons.io/i/sun -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><circle cx="12" cy="12" r="4" /><path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" /></svg>
                        </a>
                        <div class="nav-item dropdown d-none d-md-flex me-3">
                            <a  class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" aria-label="Show notifications">
                                <!-- Download SVG icon from http://tabler-icons.io/i/bell -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6" /><path d="M9 17v1a3 3 0 0 0 6 0v-1" /></svg>
                                <span id="notificationCount" class="badge bg-red">@questionRepo.NotificationList().Count()</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Notifications</h3>
                                    </div>
                                    <div id="viewall">
                                        <a href="/Question/GetNotificationList?listName=Notification" class="btn btn-link link-secondary"><h5>View All</h5></a>
                                    </div>
                            
                                    <div class="list-group list-group-flush list-group-hoverable scrollable" id="item">


                                        <div class="list-group list-group-flush list-group-hoverable scrollable" id="signalRNotifications"></div>
                                        @foreach (CustomerQuestions customer_question in @questionRepo.NotificationList())
                                        {
                                            <div class="list-group-item">
                                                <div class="row align-items-center">
                                                    <div class="col-auto"><span class="status-dot status-dot-animated bg-red d-block"></span></div>
                                                    <div class="col text-truncate">
                                                        <a href="/Question/AnswerQuestion?questionId=@customer_question.ID" class="text-body d-block">
                                                            @customer_question.User.UserName

                                                        </a>

                                                        <div class="d-block text-muted text-truncate mt-n1">
                                                            @customer_question.SubmitTime
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                            <img class="avatar avatar-sm" src="~/demo/static/avatars/profile.png">
                            <div class="d-xl-block ps-2">
                                <div>@User.Identity.Name</div>
                                <div class="mt-1 small text-muted">@User.FindFirstValue(ClaimTypes.Email)</div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <a asp-action="Logout" asp-controller="Account" class="dropdown-item">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="navbar-expand-md">
            <div class="collapse navbar-collapse" id="navbar-menu">
                <div class="navbar navbar-light">
                    <div class="container-xl">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" asp-action="HomePage" asp-controller="Home">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/home -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                                    </span>
                                    <span class="nav-link-title">
                                        Home
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/package -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><polyline points="12 3 20 7.5 20 16.5 12 21 4 16.5 4 7.5 12 3" /><line x1="12" y1="12" x2="20" y2="7.5" /><line x1="12" y1="12" x2="12" y2="21" /><line x1="12" y1="12" x2="4" y2="7.5" /><line x1="16" y1="5.25" x2="8" y2="9.75" /></svg>
                                    </span>
                                    <span class="nav-link-title">
                                        Interface
                                    </span>
                                </a>

                                <div class="dropdown-menu">
                                    <div class="dropdown-menu-columns">
                                        <div class="dropdown-menu-column">
                                            <a class="dropdown-item" href="~/demo/empty.html">
                                                Empty page
                                            </a>
                                            <a class="dropdown-item" href="~/demo/accordion.html">
                                                Accordion
                                            </a>
                                            <a class="dropdown-item" href="~/demo/blank.html">
                                                Blank page
                                            </a>
                                            <a class="dropdown-item" href="~/demo/buttons.html">
                                                Buttons
                                            </a>
                                            <div class="dropend">
                                                <a class="dropdown-item dropdown-toggle" href="#sidebar-cards" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                                                    Cards
                                                    <span class="badge badge-sm bg-green text-uppercase ms-2">New</span>
                                                </a>
                                                <div class="dropdown-menu">
                                                    <a href="./demo/cards.html" class="dropdown-item">
                                                        Sample cards
                                                    </a>
                                                    <a href="./demo/card-actions.html" class="dropdown-item">
                                                        Card actions
                                                        <span class="badge badge-sm bg-green text-uppercase ms-2">New</span>
                                                    </a>
                                                    <a href="./demo/cards-masonry.html" class="dropdown-item">
                                                        Cards Masonry
                                                    </a>
                                                </div>
                                            </div>
                                            <a class="dropdown-item" href="~/demo/colors.html">
                                                Colors
                                            </a>
                                            <a class="dropdown-item" href="~/demo/datatables.html">
                                                Datatables
                                                <span class="badge badge-sm bg-green text-uppercase ms-2">New</span>
                                            </a>
                                            <a class="dropdown-item" href="~/demo/dropdowns.html">
                                                Dropdowns
                                            </a>
                                            <a class="dropdown-item" href="~/demo/modals.html">
                                                Modals
                                            </a>
                                            <a class="dropdown-item" href="~/demo/maps.html">
                                                Maps
                                            </a>
                                            <a class="dropdown-item" href="~/demo/map-fullsize.html">
                                                Map fullsize
                                            </a>
                                            <a class="dropdown-item" href="~/demo/maps-vector.html">
                                                Vector maps
                                                <span class="badge badge-sm bg-green text-uppercase ms-2">New</span>
                                            </a>
                                            <a class="dropdown-item" href="~/demo/navigation.html">
                                                Navigation
                                            </a>
                                        </div>
                                        <div class="dropdown-menu-column">
                                            <a class="dropdown-item" href="~/demo/charts.html">
                                                Charts
                                            </a>
                                            <a class="dropdown-item" href="~/demo/pagination.html">
                                                <!-- Download SVG icon from http://tabler-icons.io/i/pie-chart -->
                                                Pagination
                                            </a>
                                            <a class="dropdown-item" href="~/demo/placeholder.html">
                                                Placeholder
                                            </a>
                                            <a class="dropdown-item" href="~/demo/tabs.html">
                                                Tabs
                                            </a>
                                            <a class="dropdown-item" href="~/demo/tables.html">
                                                Tables
                                            </a>
                                            <a class="dropdown-item" href="~/demo/carousel.html">
                                                Carousel
                                                <span class="badge badge-sm bg-green text-uppercase ms-2">New</span>
                                            </a>
                                            <a class="dropdown-item" href="~/demo/lists.html">
                                                Lists
                                            </a>
                                            <a class="dropdown-item" href="~/demo/typography.html">
                                                Typography
                                            </a>
                                            <a class="dropdown-item" href="~/demo/offcanvas.html">
                                                Offcanvas
                                            </a>
                                            <a class="dropdown-item" href="~/demo/markdown.html">
                                                Markdown
                                            </a>
                                            <div class="dropend">
                                                <a class="dropdown-item dropdown-toggle" href="#sidebar-authentication" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                                                    Authentication
                                                </a>
                                                <div class="dropdown-menu">
                                                    <a href="~/demo/sign-in.html" class="dropdown-item">
                                                        Sign in
                                                    </a>
                                                    <a href="~/demo/sign-up.html" class="dropdown-item">
                                                        Sign up
                                                    </a>
                                                    <a href="~/demo/forgot-password.html" class="dropdown-item">
                                                        Forgot password
                                                    </a>
                                                    <a href="~/demo/terms-of-service.html" class="dropdown-item">
                                                        Terms of service
                                                    </a>
                                                    <a href="~/demo/auth-lock.html" class="dropdown-item">
                                                        Lock screen
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="dropend">
                                                <a class="dropdown-item dropdown-toggle" href="#sidebar-error" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                                                    <!-- Download SVG icon from http://tabler-icons.io/i/file-minus -->
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /><line x1="9" y1="14" x2="15" y2="14" /></svg>
                                                    Error pages
                                                </a>
                                                <div class="dropdown-menu">
                                                    <a href="~/demo/error-404.html" class="dropdown-item">
                                                        404 page
                                                    </a>
                                                    <a href="~/demo/error-500.html" class="dropdown-item">
                                                        500 page
                                                    </a>
                                                    <a href="~/demo/error-maintenance.html" class="dropdown-item">
                                                        Maintenance page
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" asp-action="AddNewQuestion" asp-controller="Question">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/checkbox -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><polyline points="9 11 12 14 20 6" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                                    </span>
                                    <span class="nav-link-title">
                                        Add Question
                                    </span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-action="getAll" asp-controller="Question">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/checkbox -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><polyline points="9 11 12 14 20 6" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                                    </span>
                                    <span class="nav-link-title">
                                        Questions Search
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/package -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><polyline points="12 3 20 7.5 20 16.5 12 21 4 16.5 4 7.5 12 3" /><line x1="12" y1="12" x2="20" y2="7.5" /><line x1="12" y1="12" x2="12" y2="21" /><line x1="12" y1="12" x2="4" y2="7.5" /><line x1="16" y1="5.25" x2="8" y2="9.75" /></svg>
                                    </span>
                                    <span class="nav-link-title">
                                        Admin Tasks
                                    </span>
                                </a>
                                <div class="dropdown-menu">
                                    <div class="dropdown-menu-columns">
                                        <div class="dropdown-menu-column">


                                            <a asp-action="GetAllProducts" asp-controller="Product" class="btn dropdown-item">
                                                Products
                                            </a>

                                            <a asp-action="GetAllNews" asp-controller="News" class="btn dropdown-item">
                                                News
                                            </a>
                                            <a asp-action="GetAll" asp-controller="QuestionCategory" class="btn dropdown-item">
                                                Question Category
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" href="~/demo/form-elements.html">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/checkbox -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><polyline points="9 11 12 14 20 6" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                                    </span>
                                    <span class="nav-link-title">
                                        Form elements
                                    </span>
                                </a>
                            </li>



                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#navbar-extra" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/star -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" /></svg>
                                    </span>
                                    <span class="nav-link-title">
                                        Extra
                                    </span>
                                </a>
                                <div class="dropdown-menu">
                                    <div class="dropdown-menu-columns">
                                        <div class="dropdown-menu-column">
                                            <a class="dropdown-item" href="~/demo/activity.html">
                                                Activity
                                            </a>
                                            <a class="dropdown-item" href="~/demo/gallery.html">
                                                Gallery
                                            </a>
                                            <a class="dropdown-item" href="~/demo/invoice.html">
                                                Invoice
                                            </a>
                                            <a class="dropdown-item" href="~/demo/search-results.html">
                                                Search results
                                            </a>
                                            <a class="dropdown-item" href="~/demo/pricing.html">
                                                Pricing cards
                                            </a>
                                            <a class="dropdown-item" href="~/demo/faq.html">
                                                FAQ
                                                <span class="badge badge-sm bg-green text-uppercase ms-2">New</span>
                                            </a>
                                            <a class="dropdown-item" href="~/demo/users.html">
                                                Users
                                            </a>
                                        </div>
                                        <div class="dropdown-menu-column">
                                            <a class="dropdown-item" href="~/demo/license.html">
                                                License
                                            </a>
                                            <a class="dropdown-item" href="~/demo/music.html">
                                                Music
                                            </a>
                                            <a class="dropdown-item" href="~/demo/tasks.html">
                                                Tasks
                                                <span class="badge badge-sm bg-green text-uppercase ms-2">New</span>
                                            </a>
                                            <a class="dropdown-item" href="~/demo/uptime.html">
                                                Uptime monitor
                                            </a>
                                            <a class="dropdown-item" href="~/demo/widgets.html">
                                                Widgets
                                            </a>
                                            <a class="dropdown-item" href="~/demo/wizard.html">
                                                Wizard
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#navbar-layout" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/layout-2 -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><rect x="4" y="4" width="6" height="5" rx="2" /><rect x="4" y="13" width="6" height="7" rx="2" /><rect x="14" y="4" width="6" height="7" rx="2" /><rect x="14" y="15" width="6" height="5" rx="2" /></svg>
                                    </span>
                                    <span class="nav-link-title">
                                        Layout
                                    </span>
                                </a>
                                <div class="dropdown-menu">
                                    <div class="dropdown-menu-columns">
                                        <div class="dropdown-menu-column">
                                            <a class="dropdown-item" href="~/demo/layout-horizontal.html">
                                                Horizontal
                                            </a>
                                            <a class="dropdown-item" href="~/demo/layout-boxed.html">
                                                Boxed
                                                <span class="badge badge-sm bg-green text-uppercase ms-2">New</span>
                                            </a>
                                            <a class="dropdown-item" href="~/demo/layout-vertical.html">
                                                Vertical
                                            </a>
                                            <a class="dropdown-item" href="~/demo/layout-vertical-transparent.html">
                                                Vertical transparent
                                            </a>
                                            <a class="dropdown-item" href="~/demo/layout-vertical-right.html">
                                                Right vertical
                                            </a>
                                            <a class="dropdown-item" href="~/demo/layout-condensed.html">
                                                Condensed
                                            </a>
                                            <a class="dropdown-item" href="~/demo/layout-combo.html">
                                                Combined
                                            </a>
                                        </div>
                                        <div class="dropdown-menu-column">
                                            <a class="dropdown-item" href="~/demo/layout-navbar-dark.html">
                                                Navbar dark
                                            </a>
                                            <a class="dropdown-item" href="~/demo/layout-navbar-sticky.html">
                                                Navbar sticky
                                            </a>
                                            <a class="dropdown-item" href="~/demo/layout-navbar-overlap.html">
                                                Navbar overlap
                                            </a>
                                            <a class="dropdown-item" href="~/demo/layout-rtl.html">
                                                RTL mode
                                            </a>
                                            <a class="dropdown-item" href="~/demo/layout-fluid.html">
                                                Fluid
                                            </a>
                                            <a class="dropdown-item" href="~/demo/layout-fluid-vertical.html">
                                                Fluid vertical
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./demo/icons.html">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/ghost -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 11a7 7 0 0 1 14 0v7a1.78 1.78 0 0 1 -3.1 1.4a1.65 1.65 0 0 0 -2.6 0a1.65 1.65 0 0 1 -2.6 0a1.65 1.65 0 0 0 -2.6 0a1.78 1.78 0 0 1 -3.1 -1.4v-7" /><line x1="10" y1="10" x2="10.01" y2="10" /><line x1="14" y1="10" x2="14.01" y2="10" /><path d="M10 14a3.5 3.5 0 0 0 4 0" /></svg>
                                    </span>
                                    <span class="nav-link-title">
                                        1960 icons
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#navbar-help" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/lifebuoy -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><circle cx="12" cy="12" r="4" /><circle cx="12" cy="12" r="9" /><line x1="15" y1="15" x2="18.35" y2="18.35" /><line x1="9" y1="15" x2="5.65" y2="18.35" /><line x1="5.65" y1="5.65" x2="9" y2="9" /><line x1="18.35" y1="5.65" x2="15" y2="9" /></svg>
                                    </span>
                                    <span class="nav-link-title">
                                        Help
                                    </span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="~/demo/docs/index.html">
                                        Documentation
                                    </a>
                                    <a class="dropdown-item" href="~/demo/changelog.html">
                                        Changelog
                                    </a>
                                    <a class="dropdown-item" href="https://github.com/tabler/tabler" target="_blank" rel="noopener">
                                        Source code
                                    </a>
                                    <a class="dropdown-item text-pink" href="https://github.com/sponsors/codecalm" target="_blank" rel="noopener">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg>
                                        Sponsor project!
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <div class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last row">
                            <form asp-action="Searchquestions" asp-controller="Question" class="col-6">
                                <div class="input-icon">
                                    <span class="input-icon-addon">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><circle cx="10" cy="10" r="7" /><line x1="21" y1="21" x2="15" y2="15" /></svg>
                                    </span>
                                    <input name="SearchKeyword" id="SearchKeyword" type="text" value="" class="form-control" placeholder="Question Search" aria-label="Search in website">
                                </div>
                            </form>
                            <div class="col-6">
                           
                            <div class="input-group">
                             <input name="QuestionId" id="QuestionId" type="text" class="form-control" placeholder="Search By Question Id" aria-label="Recipient's username" aria-describedby="basic-addon2">
                   <div class="input-group-append">
                    <button onclick="UserQuestionDetails()"  class="btn btn-outline-secondary" type="submit">User Questions</button>
                      <button  onclick="AdminQuestionDetails()"  class="btn btn-outline-secondary" type="button">Admin Questions</button>
                     </div>
                      </div>
                      </div>
                   
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <div>
            <footer class="footer footer-transparent d-print-none">
                <div class="container-xl">
                    <div class="row text-center align-items-center flex-row-reverse">
                        <div class="col-lg-auto ms-lg-auto">
                            <ul class="list-inline list-inline-dots mb-0">
                                <li class="list-inline-item"><a href="~/demo/docs/index.html" class="link-secondary">Documentation</a></li>
                                <li class="list-inline-item"><a href="~/demo/license.html" class="link-secondary">License</a></li>
                                <li class="list-inline-item"><a href="https://github.com/tabler/tabler" target="_blank" class="link-secondary" rel="noopener">Source code</a></li>
                                <li class="list-inline-item">
                                    <a href="https://github.com/sponsors/codecalm" target="_blank" class="link-secondary" rel="noopener">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon text-pink icon-filled icon-inline" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg>
                                        Sponsor
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                            <ul class="list-inline list-inline-dots mb-0">
                                <li class="list-inline-item">
                                    Copyright &copy; 2022
                                    <a href="." class="link-secondary">Tabler</a>.
                                    All rights reserved.
                                </li>
                                <li class="list-inline-item">
                                    <a href="./demo/changelog.html" class="link-secondary" rel="noopener">
                                        v1.0.0-beta10
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>



        <div class="modal modal-blur fade" id="modal-success" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-status bg-success"></div>
                    <div class="modal-body text-center py-4">
                        <!-- Download SVG icon from http://tabler-icons.io/i/circle-check -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-green icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><circle cx="12" cy="12" r="9" /><path d="M9 12l2 2l4 -4" /></svg>
                        <h3>Question Answered Successfully!</h3>
                    </div>
                    <div class="modal-footer">
                        <div class="w-100">
                            <div class="row">
                                <div class="col">
                                    <a asp-action="HomePage" asp-controller="Home" class="btn w-100" data-bs-dismiss="modal">
                                        Go to dashboard
                                    </a>
                                </div>
                                <div class="col">
                                    <a asp-action="GetAll" asp-controller="Question" asp-route-page_number="1" class="btn btn-success w-100" data-bs-dismiss="modal">
                                        Go To Search 
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal modal-blur fade " id="modal-scrollable" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable w-100" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Question Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>

        <script>

            function AdminQuestionDetails() {
                var itemid=document.getElementById("QuestionId").value;
            if (itemid != "") {
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: "/Question/Details/${itemid}",
                    contentType: "application/json; charset=utf-8",
                    data: { "QuestionId": itemid },
                    datatype: "json",
                    success: function (data) {
                        console.log("bye");
                        $('.modal-body').html(data); //card
                        $('#myModal').modal(options);
                        $('#modal-scrollable').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            }
        }



        function UserQuestionDetails() {
                var itemid=document.getElementById("QuestionId").value;
            if (itemid != "") {
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                        url: "/Question/CustomerQuestionDetails/${itemid}",
                    contentType: "application/json; charset=utf-8",
                    data: { "QuestionId": itemid },
                    datatype: "json",
                    success: function (data) {
                        console.log("bye");
                        $('.modal-body').html(data); //card
                        $('#myModal').modal(options);
                        $('#modal-scrollable').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            }
        }




            function search() {

                var test = document.getElementById('searchinput').value;


                $.ajax({
                    type: "post",
                    url: "/Question/Searchquestions/${test}",
                    contentType: "application/json; charset=utf-8",
                    data: { "SearchKeyword": test },
                    datatype: "json",
                    success: function () {

                        console.log($('searchinput').value);
                    }

                })
            }

            function loadnotifications() {

            

              $.ajax({
                  type: "post",
                  url: "/Question/GetNotifications",
                  contentType: "application/json; charset=utf-8",
                  traditional: true,
                  datatype: "json",

                  success: function (data) {
                      var x = JSON.parse(data);
                      for (let i = 0; i <x.legnth;i++) {
                          console.log(x[i].id);
                          

         document.getElementById("item").innerHTML +=` <div  class="list-group-item">
        <div class="row align-items-center">
            <div class="col-auto"><span class="status-dot status-dot-animated bg-red d-block"></span></div>
            <div class="col text-truncate">
                <a href="/Question/AnswerQuestion?questionId=${x[i].id}" class="text-body d-block">${x[i].userName}</a>
                <div class="d-block text-muted text-truncate mt-n1">
                  ${x[i].submitTime}
                </div>
            </div>
            </div>
            </div>`

                        }
                    }

                })
            }

            $(function () {
                var success = '@TempData["Answered_successfully"]';
                console.log(success);
                if (success == "True") {
                    $('#modal-success').modal('show');
                }
            })


            function show(questiionId) {
                console.log(questiionId);
                $.ajax({
                    type: "Get",
                    url: "/Question/AnswerQuestion",
                    contentType: "application/json; charset=utf-8",
                    data: { "questionId": questiionId },
                    datatype: "json",
                    success: function (result) {
                        console.log("done");
                        console.log(result);

                    }

                })

            }

        </script>



        <script src="~/dist/libs/apexcharts/dist/apexcharts.min.js" defer></script>
        <script src="~/dist/libs/jsvectormap/dist/js/jsvectormap.min.js" defer></script>
        <script src="~/dist/libs/jsvectormap/dist/maps/world.js" defer></script>
        <script src="~/dist/libs/jsvectormap/dist/maps/world-merc.js" defer></script>
        <script src="~/Multiselect/js/jquery.min.js"></script>
        <script src="~/Multiselectjs/popper.js"></script>
        <script src="~/Multiselectjs/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.js"></script>
        <script src="~/Multiselect/js/main.js"></script>
        <!-- Tabler Core -->
        <script src="~/dist/js/tabler.min.js" defer></script>
        <script src="~/dist/js/demo.min.js" defer></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @*<script>

            var connection = new signalR.HubConnectionBuilder().withUrl("/NotificationHub").build();
            connection.start().then(() => { //alert("connected")
            }
            );
            connection.on("ReciveQuestions", function (message) {
                var notificationsCount = document.getElementById("notificationCount").innerHTML;
                notificationsCount = parseInt(notificationsCount) + 1;
                document.getElementById("notificationCount").innerHTML = notificationsCount;




                var question = JSON.parse(message);
                console.log(document.getElementById("item"));
               /* console.log(document.querySelectorAll(".loadnotifications")[0]);*/
                var list = document.getElementById("item");
                list.insertBefore(document.querySelectorAll(".list-group-item")[0], `<div  class="list-group-item">
        <div class="row align-items-center">
            <div class="col-auto"><span class="status-dot status-dot-animated bg-red d-block"></span></div>
            <div class="col text-truncate">
                <a href="/Question/AnswerQuestion?questionId=${question.ID}" class="text-body d-block">${question.User.UserName}</a>
                <div class="d-block text-muted text-truncate mt-n1">
                ${question.SubmitTime}
                </div>
            </div>
       </div>
    </div>`);

            });
        </script>*@


        @await RenderSectionAsync("Scripts", required: false)
    </div>



</body>
</html>
