@{Layout = null;}
@model CemexDictionaryApp.Models.Question

<div class="modal-body">
    <div class="mb-3">
        <div>
            <div class="stats mt-2">
                <div class="d-flex justify-content-between p-price">
                    <span><b>Question  : </b> @Model.Text</span>
                </div>

                <div class="d-flex justify-content-between p-price">
                      <span><b>Answer  : </b> @Model.Answer</span>
                </div>

                <div class="d-flex justify-content-between p-price"> 
                   <span><b>Category  : </b> 
                       
                            @foreach (var _category in Model.Question_category)
                                   {
                               
                                            <span>@_category.category.Name</span>
                                
                                    }    
                   </span>
                </div>

                 <div class="d-flex justify-content-between p-price"> 
                   <span><b>Tags  : </b> @Model.Tags</span>
                </div>

                    <div class="d-flex justify-content-between p-price"> 
                   <span><b>Top Question  : </b> @Model.TopQuestion</span>
                </div>
<br />

                 <div class="d-flex justify-content-between p-price"> 
                   <span><b>Uploaded By  : </b> @Model.Admin</span>
                </div>

                 <div class="d-flex justify-content-between p-price"> 
                   <span><b>Submit Date  : </b> @Model.SubmitTime</span>
                </div>

             
                <br />
                <div class="d-flex justify-content-between p-price">
                    <span><b>Video URL : </b>
                    <a href="@Model.QuestionMedia.Find(media=>media.Type=="Video").Path" target="_blank">@Model.QuestionMedia.Find(media=>media.Type=="Video").Path </a></span>
                </div>


                <div class="row g-2">
                    <span><b>Images : </b></span>
                    @foreach (var media in Model.QuestionMedia)
                    {

                        @if (media.Type == "Image")
                        {
                            <div class="col-6 col-sm-4">
                                <label class="mb-2">
                                    <span >
                                        <img src="~/images/Questions/@media.Path" alt="Breakfast served with tea, bread and eggs" >
                                    </span>
                                </label>
                            </div>

                        }
                    }
                </div>


            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css"
          rel="stylesheet" type="text/css" />
    <script type="text/javascript">


    </script>
}


